@import 'global';

.highlight {
  text-align: center;
  padding: 25px 0;
  background: $black;
  color: $white;
  &__small {
    font-size: 1rem;
  }
  @include mq-down(md) {
    padding: get_vw(10) 0;
    &__small {
      font-size: get_vw(10);
    }
  }
}
