@import 'global';

$height: 30px;

.search {
  width: 100%;
  box-sizing: border-box;
  position: relative;
  text-align: center;
  min-height: $height;
  margin-top: 20px;
  vertical-align: middle;
  padding: 10px 0;
  border-top: 1px solid $gray;
  border-bottom: 1px solid $gray;
  background: $white;
  z-index: 10;
  &__kakeru,
  &__text,
  &__kakeru,
  &__select {
    margin-right: 20px;
  }
  &__kakeru {
    font-size: 1rem;
  }
  &__text,
  select {
    width: 200px;
    height: $height;
    padding: 5px;
    box-sizing: border-box;
  }
  &__submit {
    width: 50px;
    background: $white;
    border: 1px solid $gray;
    outline: none;
    height: $height;
    vertical-align: top;

    &:hover {
      cursor: pointer;
    }

    &:last-child {
      margin-left: 15px;
    }
  }
  @include mq-down(md) {
    padding: get_vw(15);
    position: fixed;
    top: get_vw(-101);
    left: 0;
    margin-top: 0;
    border-bottom: get_vw(25) solid $black;
    &::before {
      content: '»';
      font-size: get_vw(35);
      text-align: center;
      position: absolute;
      right: 0;
      left: get_vw(15);
      bottom: get_vw(-30);
      margin: auto;
      transform: rotate(90deg);
      color: $white;
    }
    &__kakeru {
      display: none;
    }
    &__text,
    select {
      font-size: get_vw(14);
      height: get_vw(30);
      width: 100%;
    }
    select {
      margin: get_vw(10) 0 0 0;
      padding: 0;
    }
    &__submit {
      width: 25%;
      height: get_vw(30);
      font-size: get_vw(14);
      margin-top: get_vw(15);
    }
  }
}
