@import 'global';

.articles {
  background: $light_gray;
  display: flex;
  flex-wrap: wrap;
  padding: 25px 50px 0;
  box-sizing: border-box;

  &:last-of-type {
    padding-bottom: 25px;
  }

  @include mq-down(md) {
    padding: get_vw(10) get_vw(10) 0;

    &:last-of-type {
      padding-bottom: get_vw(25);
    }
  }
}

.article {
  display: block;
  width: calc(20% - 20px);
  margin: 10px;
  box-sizing: border-box;
  background: $white;
  border-radius: 5px;
  a {
    display: block;
    color: inherit;
    padding: 10px;
    box-sizing: border-box;
    text-decoration: none;
    > *:first-child {
      display: flex;
      align-items: center;
      min-height: 200px;
    }
  }
  &__img {
    width: 100%;
    background-size: cover;
    background-position: center;
  }
  &__highlight {
    font-size: 1rem;
    line-height: 1.5;
    margin-top: 5px;
  }
  @include mq-down(xl) {
    width: calc(25% - 20px);
  }
  @include mq-down(lg) {
    width: calc(50% - 20px);
  }
  @include mq-down(md) {
    width: 100%;
    margin: get_vw(15) 0 0;
    a {
      padding: get_vw(10);
      > *:first-child {
        min-height: get_vw(150);
      }
    }
    &__highlight {
      font-size: get_vw(12);
      margin-top: get_vw(5);
    }
  }
}
