@import 'global';
.wrap {
  background: $light_gray;
  padding: 35px 0 0;
  @include mq-down(md) {
    padding: get_vw(25) 0 0;
  }
}

.posts {
  max-width: 850px;
  background: $white;
  border: 1px solid $black;
  padding: 25px;
  line-height: 1.7;
  letter-spacing: 0.5;
  letter-spacing: 0.5px;
  word-wrap: break-word;
  box-sizing: border-box;
  margin: 0 auto;
  word-wrap: break-word;

  &__img {
    width: 100%;
    min-height: 250px;
    background-size: cover;
    background-position: center;
    margin-bottom: 10px;
  }

  section {
    margin-top: 10px;
  }

  h1 {
    font-size: 1.5rem;
    font-weight: bold;
  }

  h2,
  summary {
    color: $gold;
    font-size: 1.3rem;
    margin-top: 15px;
  }

  h3 {
    font-weight: bold;
    margin-top: 8px;
  }

  p {
    font-size: 1rem;
    margin-top: 5px;
  }

  iframe {
    max-width: 100%;
    min-height: 200px;
    margin-top: 10px;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  pre {
    overflow-x: scroll;
    background: $black;
    padding: 10px;
    color: $white;
    box-sizing: border-box;
    margin-top: 5px;
  }

  @include mq-down(md) {
    margin: 0 get_vw(10);
    padding: get_vw(10) get_vw(10);
    &__img {
      min-height: 200px;
      margin-bottom: get_vw(10);
    }

    h2,
    summary {
      margin-top: get_vw(15);
    }

    h3 {
      margin-top: get_vw(7);
    }

    p {
      margin-top: get_vw(5);
    }

    iframe {
      height: auto;
    }
  }
}

.return {
  width: 80px;
  height: 80px;
  line-height: 80px;
  color: $black;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  position: fixed;
  right: 40px;
  bottom: 40px;
  border: 1px solid $black;
  border-radius: 100%;
  background: $white;
  @include mq-down(md) {
    font-size: get_vw(12);
    width: get_vw(50);
    height: get_vw(50);
    line-height: get_vw(50);
    right: get_vw(20);
    bottom: get_vw(20);
  }
}
