@import 'global';
.wrap {
  background: $light_gray;
  padding: 35px 0 0;
  @include mq-down(md) {
    padding: get_vw(25) 0 0;
  }
}

.posts {
  max-width: 850px;
  background: $white;
  border: 1px solid $black;
  padding: 25px;
  line-height: 1.3;
  letter-spacing: 0.5px;
  word-wrap: break-word;
  box-sizing: border-box;
  margin: 0 auto;
  word-wrap: break-word;

  &__img {
    width: 100%;
    min-height: 300px;
    background-size: cover;
    background-position: center;
    margin-bottom: 10px;
  }

  h1 {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 1.3rem;
  }
  h3 {
    font-size: 1.2rem;
  }
  p {
    font-size: 1rem;
  }

  h2,
  h3 {
    margin: 15px 0 5px;
  }

  iframe {
    max-width: 100%;
    min-height: 200px;
    margin-top: 10px;
  }

  pre {
    overflow-x: scroll;
  }

  @include mq-down(md) {
    margin: 0 get_vw(25);
    padding: get_vw(10) get_vw(15);
    &__img {
      min-height: 200px;
      margin-bottom: get_vw(10);
    }

    iframe {
      height: auto;
    }
  }
}

.return {
  width: 80px;
  height: 80px;
  line-height: 80px;
  color: $black;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  position: fixed;
  right: 40px;
  bottom: 40px;
  border: 1px solid $black;
  border-radius: 100%;
  background: $white;
  @include mq-down(md) {
    font-size: get_vw(12);
    width: get_vw(50);
    height: get_vw(50);
    line-height: get_vw(50);
    right: get_vw(20);
    bottom: get_vw(20);
  }
}
