@import 'global';

.wrap {
  @include mq-down(md) {
    margin-top: get_vw(35);
  }
}

.img {
  height: 300px;
  background-size: cover;
  background-position: center center;

  @include mq-down(md) {
    height: get_vw(250);
  }
}

.p {
  text-align: center;
  padding-top: 20px;

  &__link {
    color: inherit;
  }
  @include mq-down(md) {
    font-size: get_vw(12);
    padding: get_vw(10) 0;
  }
}
